body {
	color: lightblue;
	background-color: black;
	font-family: dejavu sans, verdana, liberation sans, arial;
	font-size: 10pt;
	font-weight: normal
}

h1 {
	color: steelblue;
	font-size: 20pt;
	font-weight: normal
}

h2 {
	color: steelblue;
	font-size: 16pt;
	font-weight: normal
}

h3 {
	color: steelblue;
	font-size: 12pt;
	font-weight: normal
}

a { text-decoration-line: none }
a:link { color: palegreen }
a:visited { color: lightgreen }
a:hover { color: lightskyblue }
a:active { color: gold }

table {
	font-family: dejavu sans, verdana, liberation sans, arial;
	font-size: 10pt;
	border-style: outset;
	border-width: thin;
	border-color: #8080ff
}

th {
	color: steelblue;
	border-style: inset;
	border-width: thin;
	border-color: #8080ff;
	padding-left: 1mm;
	padding-right: 1mm
}

td {
	border-style: inset;
	border-width: thin;
	border-color: #8080ff;
	padding-left: 1mm;
	padding-right: 1mm
}

img { border-width: 0 }
